# Docker Compose file Reference (https://docs.docker.com/compose/compose-file/)

version: '3.0'

services:
# Nginx Interface 
 nginx:
  container_name: nginx
  build:
   context: nginx
   dockerfile: Dockerfile
  ports: 
   - "80:80"
  restart: always
  depends_on:
   - backend
# Client
 client:
  container_name: client
  build:
   context: client
   dockerfile: Dockerfile
  ports:
   - "4962:4962"
  restart: always
  depends_on:
   - backend
# Server
 backend:
  container_name: backend
  build:
   context: server
   dockerfile: Dockerfile
  ports:
   - "8080:8080"
  restart: always