.profile-input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px rgb(86, 45, 199);
    text-align: center;
    font-family: 'Raleway';
}

.title{
    font-family: "Raleway";
    font-size: 1em;
    font-weight: 700;
    color: rgb(63, 62, 62);
}

.pass{
    color: rgb(43, 165, 43);
}

.fail{
    color:red;
}

.text{
    height: 20%;
}

.hours-block{
    background: white;
    font-family: 'Raleway';
    border-radius: 8px;
   
    box-shadow: -5px 7px 13px 0px #6B6B6B;
    height: 35%;
    padding: 5px;
    display: flex;

    justify-content: center;
    margin-top: 5%;

}

.column-wrap{
    height: 75vh;
    width: 100%;
    margin-left: 5%;
}